{% extends 'app.html' %}

{% block title %}
    Create {{ resource_type | admin_label_singular }}
{% endblock %}

{% block content %}
    <div class="flex justify-between text-3xl mb-4">
      Create {{ resource_type | admin_label_singular }}
    </div>
    <form action={{ url_for('.resource_create', resource_type=resource_type) }} method="POST">
      <div class="flex flex-wrap">
        {% for attribute in editable_attributes %}
        <div class="w-1/2 mb-4">
          <div class="flex flex-col mr-3">
            <label for={{ attribute.name }} class="uppercase text-gray-500 text-xs mb-1">{{ attribute.name | format_label }}</label>
            {% if 'VARCHAR' in attribute.type %}
              <input type="text" name="{{ attribute.name }}" id="{{ attribute.name }}" class="py-2 px-3 border border-gray-300 rounded" />
            {% elif attribute.type == 'INTEGER' %}
              <input type="number" name="{{ attribute.name }}" id="{{ attribute.name }}" class="py-2 px-3 border border-gray-300 rounded" />
            {% elif attribute.type == 'BOOLEAN' %}
              <select name={{ attribute.name }} class="py-2.5 px-3 border border-gray-300 rounded">
                <option value="True">True</option>
                <option value="False">False</option>
              </select>
            {% elif attribute.type == 'TEXT' or attribute.type == 'JSON' %}
              <textarea class="py-2 px-3 border border-gray-300 rounded" rows="5" name="{{ attribute.name }}" id="{{ attribute.name }}"></textarea>
            {% elif attribute.type == 'DATETIME' %}
              <input type="datetime-local" name="{{ attribute.name }}" id="{{ attribute.name }}" class="py-2 px-3 border border-gray-300 rounded" />
            {% elif attribute.type == 'DATE' %}
              <input type="date" name="{{ attribute.name }}" id="{{ attribute.name }}" class="py-2 px-3 border border-gray-300 rounded" />
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="flex">
        <button type="submit" class="bg-blue-500 hover:bg-blue-300 text-white font-bold py-2 px-4 rounded">
          Create
        </button>
      </div>
    </form>
{% endblock %}
