{% extends 'app.html' %}

{% block title %}
    {{ resource_type | admin_label_plural }}
{% endblock %}

{% block content %}

<div class="mb-4">
    <ul class="flex">
        <li>
            <input type="hidden" id="buttonState" value="pending">
            <button type="button"
            id="pendingButton" class="font-medium text-sm px-1 py-2.5 mr-2 mb-2 {% if 'pending' in request.path %} text-black font-bold border-b-2 border-sky-500
            {% elif 'all' in request.path %}
                text-black  border-b-2
            {% else %}
            text-black font-bold border-b-2 border-sky-500
            {% endif %}
            "
                onclick="displayReceipts('pending')">Pending Receipts
            </button>
        </li>
        <li>
            <button type="button"
            id="allReceiptButton"
                class="font-medium text-sm px-1 py-2.5 mr-2 mb-2
                {% if 'all' in request.path %} text-black font-bold border-b-2 border-sky-500
                {% else %} text-black border-b-2 border-sky-500
                {% endif %}"
                onclick="displayReceipts('all')" >System Receipts
            </button>
        </li>
    </ul>
</div>

{% if 'pending' in request.path or 'all' not in request.path %}
<div class="mx-4">
    {% for data_tuple in processed_data %}
    <div class="">
        <div class="flex flex-col"
            style="max-width: 1200px; display: flex; flex-direction: row;">
            <div style="flex: 1;" class="flex flex-col justify-between pb-6">
                <div
                    style="display: grid;
                    column-gap: 50px;
                    grid-template-columns: auto auto auto auto;  font-size: 16px; font-weight: 400; line-height: 19px;"
                    class="flex text-left">
                    {% for other_item in data_tuple[2] %}
                    <div style="margin-top: 10px; margin-bottom: 10px;   display: flex; justify-content: space-between;">
                        <div class="item-container">
                            <div class="label">
                                {% if other_item[0] == "mandi_name" %}
                                    <h6 class="mb-3 text-base ">Mandi</h6>
                                {% elif other_item[0] == "crop_name" %}
                                    <h6 class="mb-3 text-base " >Crop</h6>
                                {% elif other_item[0] == "contract_number" %}
                                    <h6 class="mb-3 text-base ">Receipt Number</h6>
                                {% elif other_item[0] == "price" %}
                                    <h6 class="mb-3 text-base ">Rate</h6>
                                {% elif other_item[0] == "quantity" %}
                                    <h6 class="mb-3 text-base ">Approximate weight</h6>
                                {% elif other_item[0] == "booklet_number" %}
                                    <h6 class="mb-3 text-base ">Booklet Number</h6>
                                {% elif other_item[0] == "receipt_date" %}
                                    <h6 class="mb-3 text-base">Date</h6>
                                {% elif other_item[0] == "Time" %}
                                    <h6 class="mb-3 text-base ">Time of Submission</h6>
                                {% endif %}
                            </div>
                            <div class="value"> {% if other_item[1] is not none %}
                                <h2 class="mb-3 text-xl text-black font-semibold">{{ other_item[1] | capitalize }}</h2>

                            {% endif %}</div>
                        </div>
                    </div>

                    <br>
                    {% endfor %}
                </div>
                {% if 'pending' in request.path   or 'all' not in request.path %}
                    <div class="flex items-center">
                        {% for button_label, receipt_id in data_tuple[1] %}
                            {% if button_label == 'Approve' or button_label == 'Reject' %}
                                {% if button_label == 'Approve' %}
                                    <button id="approve_button"
                                        class="font-semibold py-2 px-4 my-2 rounded-lg bg-green-500 text-white hover:bg-green-600"
                                        type="submit"
                                        onclick="handleButtonClick('{{ button_label }}', '{{ receipt_id }}')"
                                        style="width: 100px; height: 40px;">
                                        {{ button_label }}
                                    </button>
                                {% else %}
                                    <button id="reject_button"
                                        class="font-semibold py-2 px-4 my-2 rounded-lg bg-red-600 text-white hover:bg-red-700 ml-2"
                                        type="submit"
                                        onclick="handleButtonClick('{{ button_label }}', '{{ receipt_id }}')"
                                        style="width: 100px; height: 40px;">
                                        {{ button_label }}
                                    </button>
                                {% endif %}
                            {% endif %}
                            {% if button_label == 'Edit' %}
                                <button id="edit_button"
                                    class="font-semibold py-2 px-4 my-2 rounded-lg bg-white text-black border border-black hover:bg-black hover:text-white"
                                    type="submit"
                                    onclick="handleButtonClick('{{ button_label }}', '{{ receipt_id }}')"
                                    style="width: 100px; height: 40px;">
                                    {{ button_label }}
                                </button>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% for image_url in data_tuple[0] %}
            <div style="width: 482px; height: auto; position: relative; overflow: hidden; margin-top: -75px">
                <img src="{{ image_url }}" alt="Receipt Image" style="width: 100%; object-fit: cover; border-radius: 6.45px;">
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="relative overflow-x-auto my-8">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                {% for item in list_display %}
                    {% if item != "receipt_image_url" %}
                        {% if item == "mandi_name" %}
                            <th scope="col" class="px-6 py-3">Mandi</th>
                        {% elif item == "crop_name" %}
                            <th scope="col" class="px-6 py-3">Crop</th>
                        {% elif item == "contract_number" %}
                            <th scope="col" class="px-6 py-3">Receipt Number</th>
                        {% elif item == "quantity" %}
                            <th scope="col" class="px-6 py-3">Weight (Quintal)</th>
                        {% elif item == "price" %}
                            <th scope="col" class="px-6 py-3">Rate</th>
                        {% elif item == "is_approved" %}
                            <th scope="col" class="px-6 py-3">Status</th>
                        {% elif item == "receipt_date" %}
                            <th scope="col" class="px-6 py-3">Submission on</th>
                        {% else %}
                            <th scope="col" class="px-6 py-3">{{ item | format_label }}</th>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if permissions.get(resource_type).get('update') or permissions.get(resource_type).get('delete'): %}
                    <th scope="col" class="px-6 py-3">Actions</th>
                {% endif %}
            </tr>

        </thead>
        <tbody>
            {% for resource in pagination.items %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    {% for item in list_display %}
                        {% if item != "receipt_image_url" %}
                            <td class="px-6 py-4">
                                {% if item == "is_approved" %}
                                    {% if resource[item] %}
                                        <span class="text-green-500">Approved</span>
                                    {% else %}
                                        <span class="text-red-500">Rejected</span>
                                    {% endif %}
                                {% else %}
                                    {{ resource[item] }}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}

                    <td class="px-6 py-4 flex items-center">
                        <div>
                            <a href=# class="font-bold py-2 pr-4 rounded text-black">
                                <i class="fa-solid fa-receipt"></i>
                            </a>
                        </div>
                        <div>
                            <a href=# class="font-bold py-2 pr-4 rounded text-black">
                                <i class="fas fa-history"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="mt-4 flex items-end">
    {% if pagination.has_prev %}
    <a href="javascript:void(0);"
       onclick="displayReceipts('all', '{{ pagination.prev_num }}')"
       class="mx-1 px-3 py-1 rounded border text-blue-500">
        {{ 'Prev' }}
    </a>
    {% endif %}
    {% for num in pagination.iter_pages() %}
    {% if num %}
    {% if num != pagination.page %}
    <a href="javascript:void(0);"
       onclick="displayReceipts('all', '{{ num }}')"
       class="mx-1 px-3 py-1 rounded bg-white border text-blue-500">{{ num }}</a>
    {% else %}
    <span class="mx-1 px-3 py-1 bg-blue-500 text-white rounded">{{ num }}</span>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
    {% if pagination.has_next %}
    <a href="javascript:void(0);"
       onclick="displayReceipts('all', '{{ pagination.next_num }}')"
       class="mx-1 px-3 py-1 rounded border text-blue-500">
        {{ 'Next' }}
    </a>
    {% endif %}
</div>
{% endif %}

<script>
    function displayReceipts(buttonValue, page=1) {
        let pendingButton = document.getElementById('pendingButton');
        let allReceiptButton = document.getElementById('allReceiptButton');
        let resourceType = "{{ resource_type }}";

        let url = `/admin/resource/${resourceType}/${buttonValue}?page=${page}`;

        window.location.href = url;
    }

    function handleButtonClick(action, receipt_id) {
        let editButtonClicked = false;
        action = action.toLowerCase();
        let baseUrl = '/admin/';

        let route = 'update_approval_status';
        let url = baseUrl + route;
        let data = {
            action: action,
            receipt_id: receipt_id
        };

        if(action=='edit'){
            editButtonClicked= true;
        }
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            if ( !editButtonClicked && data.success) {
                window.location.reload();
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>
{% endblock %}
