{% extends 'app.html' %}

{% block title %}
    {{ resource_type | admin_label_singular }}
{% endblock %}

{% block content %}
    <div class="flex justify-between text-3xl mb-4">
      {{ resource_type | admin_label_singular }}
    </div>
    <form action={{ url_for('.resource_edit', resource_type=resource_type, resource_id=resource.pk) }} method="POST">
      <div class="flex flex-wrap">
        {% for attribute in readable_attributes %}
        <div class="w-1/2 mb-4">
          <div class="flex flex-col mr-3">
            <label for={{ attribute.name }} class="uppercase text-gray-500 text-xs mb-1">{{ attribute.name | format_label }}</label>
            <div class="mb-3">
                {% if attribute.type == 'JSON' %}
                    <div class="px-2 py-2 bg-gray-100 border rounded shadow">
                        <pre class="whitespace-pre-wrap break-all">{{resource[attribute.name] | tojson(indent=4)}}</pre>
                    </div>
                {% elif attribute.type == 'DATETIME' %}
                    <p>{{resource[attribute.name] | admin_format_datetime('%d/%m/%Y %I:%M:%S %p')}}</p>
                {% else %}
                    <p>{{resource[attribute.name]}}</p>
                {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="flex">
        <button type="submit" class="bg-blue-500 hover:bg-blue-300 text-white font-bold py-2 px-4 rounded">
          Update
        </button>
      </div>
    </form>
{% endblock %}
