<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %} - Gramhal</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body>
        <nav class="bg-gray-700 w-screen px-10 py-4 flex justify-between text-white">
            <div class="text-lg">Admin Portal</div>
            <div>
                <a href="{{ url_for('.logout') }}">Logout</a>
            </div>
        </nav>
        <div class="flex">
            <sidebar class="bg-gray-200 w-64 flex flex-col pt-10 min-h-screen h-auto">
                <a href="{{ url_for('.dashboard') }}" class="px-10 py-4 cursor-pointer hover:bg-gray-300">Dashboard</a>
                {% for resource_type in resource_types %}
                    {% if permissions.get(resource_type).get('read') %}
                        <a href={{ url_for('.resource_list', resource_type=resource_type) }} class="px-10 py-4 cursor-pointer hover:bg-gray-300">{{ resource_type | admin_label_plural }}</a>
                    {% endif %}
                {% endfor %}
            </sidebar>
            <div class="p-10 w-full">
                {% block content %} {% endblock %}
            </div>
        </div>
    </body>
</html>
