{% extends 'app.html' %}

{% block title %}
    {{ resource_type.capitalize() }}
{% endblock %}

{% block content %}
    <div class="flex justify-between text-3xl mb-4">
      Edit {{ resource_type.capitalize() }}
    </div>
    <form action={{ url_for('.resource_edit', resource_type=resource_type, resource_id=resource._id) }} method="POST">
      <div class="flex flex-wrap">
        {% for column in editable_columns %}
        <div class="w-1/2 mb-4">
          <div class="flex flex-col mr-3">
            <label for={{ column }}>{{ column.capitalize() }}</label>
            <input type="text" name={{ column }} id={{ column }} class="py-2 px-3 border rounded" value="{{ resource[column] }}" />
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="flex">
        <button type="submit" class="bg-blue-500 hover:bg-blue-300 text-white font-bold py-2 px-4 rounded">
          Update
        </button>
      </div>
    </form>
{% endblock %}
