{% extends 'app.html' %}

{% block title %}
    {{ resource_type.capitalize() }}
{% endblock %}

{% block content %}
    <div class="flex justify-between">
        <a href={{ url_for('.resource_create', resource_type=resource_type) }} class="bg-blue-500 hover:bg-blue-300 text-white font-bold py-2 px-4 rounded">
        Create {{ resource_type.capitalize() }}
        </a>
        <div>
            <a href={{ url_for('.resource_download', resource_type=resource_type) }} class="bg-blue-500 hover:bg-blue-300 text-white font-bold py-2 px-4 rounded">
                Download CSV
            </a>
            <a href={{ url_for('.resource_upload', resource_type=resource_type) }} class="bg-blue-500 hover:bg-blue-300 text-white font-bold py-2 px-4 rounded ml-2">
                Bulk Upload
            </a>
        </div>
    </div>

    <div class="relative overflow-x-auto my-10">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    {% for item in list_display %}
                        <th scope="col" class="px-6 py-3">{{ item }}</th>
                    {% endfor %}
                    <th scope="col" class="px-6 py-3">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for resource in pagination.items %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        {% for item in list_display %}
                            <td class="px-6 py-4">
                                {{ resource[item] }}
                            </td>
                        {% endfor %}
                        <td class="px-6 py-4 flex items-center">
                            <div>
                                <a href={{ url_for('.resource_edit', resource_type=resource_type, resource_id=resource._id) }} class="font-bold py-2 px-4 rounded text-black">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                            <div>
                                <form action={{ url_for('.resource_delete', resource_type=resource_type, resource_id=resource._id)}} method="POST">
                                    <button type="submit"> <i class="fas fa-trash-alt text-red-500"></i></button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mt-4 flex items-end">
        {% if pagination.has_prev %}
            <a href="{{ url_for('.resource_list', resource_type=resource_type, page=pagination.prev_num) }}"
                class="mx-1 px-3 py-1 rounded border text-blue-500">
                {{ 'Prev' }}
            </a>
        {% endif %}

        {% for num in pagination.iter_pages() %}
            {% if num %}
                {% if num != pagination.page %}
                    <a href="{{ url_for('.resource_list', resource_type=resource_type, page=num) }}"
                        class="mx-1 px-3 py-1 rounded bg-white border text-blue-500">{{ num }}</a>
                {% else %}
                    <span class="mx-1 px-3 py-1 bg-blue-500 text-white rounded">{{ num }}</span>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}

        {% if pagination.has_next %}
            <a href="{{ url_for('.resource_list', resource_type=resource_type, page=pagination.next_num) }}"
            class="mx-1 px-3 py-1 rounded border text-blue-500">
                {{ 'Next' }}
            </a>
        {% endif %}
    </div>

{% endblock %}
